*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/github.properties
streaming-backup/node_modules
streaming-backup/config/devices.json
streaming-backup/src/video
thinklet_monitor.zip
report