*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/github.properties
streaming/node_modules
streaming/config/devices.json
streaming/src/video
thinklet_monitor.zip
